*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Georama', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 15px;
    
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2.0rem;
    border: 1px solid red;
    border-radius: 30px;

}

.calculator-display{
    padding: 25px 15px;
    width: 100%; 
    text-align: right;
    overflow-x: auto;

}

.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button{
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background: rgb(19, 211, 61);
    border: 1px solid darkgray;
} 

.keypad-button:hover{
    filter: brightness(35%);
    transition: filter .25s;
}

.keypad-button.large{
    width: 50%;
}

.keypad-button.dark{
    background: lightgray;
}

.keypad-button.yellow{
    background: yellow;
}

